<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="timetoadapt.me.adapt" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk android:minSdkVersion="15"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="timetoadapt.me.adapt.AdaptApp">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".CreateHypothesisActivity"
            android:label="@string/title_activity_create"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".UserCreationActivity"
            android:label="@string/create_user_title"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".SignInActivity"
            android:label="@string/sign_in_title"
            android:parentActivityName=".UserCreationActivity">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/sign_up_title"
            android:parentActivityName=".UserCreationActivity">
        </activity>
        <activity
            android:name=".HypothesisProfileActivity"
            android:label="@string/hypothesis_profile_title">
        </activity>
        <activity
            android:name=".AdaptSplash"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
