<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="/chart.css">
   <script> window.ANSWERS = <%- data %>; </script>
   <script> window.LABELS = <%- labels %>; </script>
   <script type="text/javascript" src="/chart.min.js"></script>
   <script type="text/javascript" src="/util.js"></script>
   <script type="text/javascript" src="/chart_config.js"></script>
   <script type="text/javascript" src="/colors.js"></script>
   <script type="text/javascript" src="/individual_charts.js"></script>
</head>
<body>
   <div class="missing hide">Nobody has reported feedback yet!</div>
   <div class="chartwrapper">
      <canvas></canvas>
   </div>
   <div class="legend"></div>
</body>
</html>
