<!DOCTYPE html>
<html>
<head>
   <script> window.ANSWERS = <%- data %>; </script>
   <script type="text/javascript">
window.onload = function() {
   document.querySelector('body').innerHTML = window.ANSWERS;
}
   </script>
</head>
<body></body>
</html>
